# import packages

In [431]:
#import 
import json
import pandas as pd
import json
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
import re
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#import numpy as np
ps = PorterStemmer()
import numpy as np
from scipy.sparse import csr_matrix

# Reading json file

In [432]:
#https://www.programiz.com/python-programming/json
with open("C:/Users/16055/Desktop/Project3-Analyzer/yummly.json") as f:
    data = json.load(f)
#print(data)

In [433]:
id1 = []
cuisine = []
ingredients = []
for i in range(len(data)):
    id1.append(data[i]['id'])
    cuisine.append(data[i]['cuisine'])
    ingredients.append(data[i]['ingredients'])

In [473]:
#print(ingredients)

# Jsont to dataframe

In [434]:
#json to df
todf = pd.DataFrame({'id':id1,
                   'cuisine':cuisine,
                   'ingredients':ingredients})
#print(todf.head(5))

In [435]:
# Get a series of unique values in column 'cuisine' of the dataframe
uniqueValues = todf['cuisine'].unique()
print(uniqueValues)

['greek' 'southern_us' 'filipino' 'indian' 'jamaican' 'spanish' 'italian'
 'mexican' 'chinese' 'british' 'thai' 'vietnamese' 'cajun_creole'
 'brazilian' 'french' 'japanese' 'irish' 'korean' 'moroccan' 'russian']

In [436]:
lst = []
for s in todf['ingredients']:
    s = ' '.join(s)
    lst.append(s)
todf['ingredients1'] = lst

# Data Preprocessing

In [437]:
list1=[]
for s in todf['ingredients1']:

    #Remove content inside paranthesis
    s=re.sub(r'\([^)]*\)', '', s)
    s=s.lower()
    #Remove Stop Words
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(s)
    #filtered = [w for w in word_tokens if not w in stop_words]
    filtered = []
    for k in word_tokens:
        if k not in stop_words:
            filtered.append(k)
    s=' '.join(filtered)
    #stemming
    words = word_tokenize(s)
    p_word=[]
    for r in words:
        p_word.append(ps.stem(r))
    s=' '.join(p_word)
    
    list1.append(s)
todf['ingredients2']=list1
print(todf.head(10))

      id      cuisine                                        ingredients  \
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...
5   6602     jamaican  [plain flour, sugar, butter, eggs, fresh ginge...
6  42779      spanish  [olive oil, salt, medium shrimp, pepper, garli...
7   3735      italian  [sugar, pistachio nuts, white almond bark, flo...
8  16903      mexican  [olive oil, purple onion, fresh pineapple, por...
9  12734      italian  [chopped tomatoes, fresh basil, garlic, extra-...

                                        ingredients1  \
0  romaine lettuce black olives grape tomatoes ga...
1  plain flour ground pepper salt tomatoes ground...
2  eggs pepper salt mayonaise cooking oil green c...
3                     water vegetable oil wheat salt
4  black pepper shallots cornflour cayenne pepper...
5  plain flour sugar butter eggs fresh ginger roo...
6  olive oil salt medium shrimp pepper garlic cho...
7  sugar pistachio nuts white almond bark flour v...
8  olive oil purple onion fresh pineapple pork po...
9  chopped tomatoes fresh basil garlic extra-virg...

                                        ingredients2
0  romain lettuc black oliv grape tomato garlic p...
1  plain flour ground pepper salt tomato ground b...
2  egg pepper salt mayonais cook oil green chili ...
3                         water veget oil wheat salt
4  black pepper shallot cornflour cayenn pepper o...
5  plain flour sugar butter egg fresh ginger root...
6  oliv oil salt medium shrimp pepper garlic chop...
7  sugar pistachio nut white almond bark flour va...
8  oliv oil purpl onion fresh pineappl pork pobla...
9  chop tomato fresh basil garlic extra-virgin ol...

In [438]:
df1 = todf['ingredients2']
dfI = df1.to_frame()

In [439]:
(dfI)

                                            ingredients2
0      romain lettuc black oliv grape tomato garlic p...
1      plain flour ground pepper salt tomato ground b...
2      egg pepper salt mayonais cook oil green chili ...
3                             water veget oil wheat salt
4      black pepper shallot cornflour cayenn pepper o...
...                                                  ...
39769  light brown sugar granul sugar butter warm wat...
39770  kraft zesti italian dress purpl onion broccoli...
39771  egg citru fruit raisin sourdough starter flour...
39772  boneless chicken skinless thigh minc garlic st...
39773  green chile jalapeno chili onion ground black ...

[39774 rows x 1 columns]

# Vectorization

In [440]:
#vectorizing the 
vectorizer = TfidfVectorizer()
vecTran = vectorizer.fit_transform(todf['ingredients2'])
print(vecTran)

  (0, 657)	0.3359695255798876
  (0, 473)	0.15277452100745567
  (0, 848)	0.3188344451649116
  (0, 168)	0.2092880182332686
  (0, 959)	0.40703515054117445
  (0, 2146)	0.23537186736443025
  (0, 1692)	0.11255826291065263
  (0, 1951)	0.25077141745569775
  (0, 1800)	0.10460769099134244
  (0, 964)	0.11043649163233915
  (0, 2471)	0.14903815672428428
  (0, 1040)	0.3584126796742471
  (0, 1688)	0.14040029603481097
  (0, 227)	0.1467053295352238
  (0, 1362)	0.27914610096744324
  (0, 2054)	0.3587841944572937
  (1, 1681)	0.11722265458009747
  (1, 2564)	0.21074579807409075
  (1, 1540)	0.2126218678159712
  (1, 1500)	0.4042396711233667
  (1, 604)	0.22100434768235555
  (1, 2660)	0.2787429724217884
  (1, 1057)	0.18621805915393727
  (1, 788)	0.18474859092153859
  (1, 2455)	0.2736367456835292
  :	:
  (39772, 788)	0.08994752756439545
  (39772, 2104)	0.052897430995265074
  (39772, 893)	0.08979942567242884
  (39772, 964)	0.062195909477121517
  (39773, 442)	0.2654119719711813
  (39773, 2053)	0.414028514506345
  (39773, 186)	0.22839235891780194
  (39773, 492)	0.24999329371314696
  (39773, 1697)	0.247847130605539
  (39773, 761)	0.1856541657691461
  (39773, 2625)	0.182961202242882
  (39773, 1204)	0.2764349364168115
  (39773, 533)	0.19782051964369954
  (39773, 515)	0.1845504310974715
  (39773, 921)	0.1417300946843435
  (39773, 2364)	0.15297243248687403
  (39773, 495)	0.19285099341699763
  (39773, 1057)	0.34870064021557706
  (39773, 2104)	0.10172493907089264
  (39773, 1067)	0.1416737729023669
  (39773, 1692)	0.1219044224258254
  (39773, 1800)	0.22658736589993952
  (39773, 964)	0.11960647205315639
  (39773, 2471)	0.16141338667695487
  (39773, 227)	0.15888685558320995

In [441]:
#label encoding
encoding = preprocessing.LabelEncoder()
encoding.fit(df['cuisine'])
todf['cuisine']=encoding.transform(todf['cuisine'])

In [442]:
todf['cuisine'].value_counts()

9     7838
13    6438
16    4320
7     3003
3     2673
5     2646
2     1546
18    1539
11    1423
6     1175
17     989
12     830
19     825
14     821
1      804
4      755
8      667
10     526
15     489
0      467
Name: cuisine, dtype: int64

In [443]:
cuisine = todf['cuisine']

# Splitting Test and Train data

In [444]:
xTrain, xTest, yTrain, yTest = train_test_split(vecTran, cuisine, random_state = 0)

In [275]:
#print(yTest)

# Clustering and performace evaluation

In [445]:
classes = KNeighborsClassifier(n_neighbors = 10, weights='uniform', algorithm='auto')
classes.fit(xTrain, yTrain) 
prediction_y = classes.predict(xTest)

In [356]:
#prediction_y

In [357]:
#yTest

In [446]:
#to check the performance
score = accuracy_score(yTest,prediction_y)
score

0.7541230893000804

# input of ingredients

In [447]:
df1 = todf['ingredients2']
#print(type(df1))
dfI = df1.to_frame()
dfI

                                            ingredients2
0      romain lettuc black oliv grape tomato garlic p...
1      plain flour ground pepper salt tomato ground b...
2      egg pepper salt mayonais cook oil green chili ...
3                             water veget oil wheat salt
4      black pepper shallot cornflour cayenn pepper o...
...                                                  ...
39769  light brown sugar granul sugar butter warm wat...
39770  kraft zesti italian dress purpl onion broccoli...
39771  egg citru fruit raisin sourdough starter flour...
39772  boneless chicken skinless thigh minc garlic st...
39773  green chile jalapeno chili onion ground black ...

[39774 rows x 1 columns]

In [474]:
test_ingredients = """pimentos sweet pepper dried oregano olive oil garlic"""
#test_ingredients = """water veget oil wheat salt"""
new = pd.Series([test_ingredients])
new1 = pd.DataFrame([new])
new1.columns = ["ingredients2"]
final_input = pd.concat([new1,dfI], ignore_index = True)
final_input

                                            ingredients2
0      pimentos sweet pepper dried oregano olive oil ...
1      romain lettuc black oliv grape tomato garlic p...
2      plain flour ground pepper salt tomato ground b...
3      egg pepper salt mayonais cook oil green chili ...
4                             water veget oil wheat salt
...                                                  ...
39770  light brown sugar granul sugar butter warm wat...
39771  kraft zesti italian dress purpl onion broccoli...
39772  egg citru fruit raisin sourdough starter flour...
39773  boneless chicken skinless thigh minc garlic st...
39774  green chile jalapeno chili onion ground black ...

[39775 rows x 1 columns]

In [475]:
# to convert into vector
vectorizer = TfidfVectorizer()
vec_final_input = vectorizer.fit_transform(final_input['ingredients2'])
print(vec_final_input)

  (0, 965)	0.0894282329868838
  (0, 1682)	0.08206043460987061
  (0, 1690)	0.5475228689975247
  (0, 1699)	0.18529791561450118
  (0, 762)	0.5475228689975247
  (0, 1802)	0.08470840943490243
  (0, 2383)	0.21074621664592547
  (0, 1850)	0.5475228689975247
  (1, 657)	0.3359693971708159
  (1, 473)	0.15277531314153953
  (1, 849)	0.3188344028585207
  (1, 168)	0.20928852639065135
  (1, 960)	0.40703466503189256
  (1, 2149)	0.23537224445214305
  (1, 1694)	0.11255925712885564
  (1, 1954)	0.25077171716165847
  (1, 2474)	0.1490389676333592
  (1, 1041)	0.35841243848976473
  (1, 1689)	0.14040115034858217
  (1, 227)	0.1467061521666058
  (1, 1363)	0.279146258092438
  (1, 2057)	0.3587839514059733
  (1, 965)	0.11043409384843886
  (1, 1802)	0.10460562760597124
  (2, 2567)	0.2107462736773636
  :	:
  (39773, 2107)	0.05289800539300331
  (39773, 894)	0.08979978795153344
  (39773, 965)	0.06219451410603471
  (39773, 1682)	0.05707044282804385
  (39774, 442)	0.26541362964150267
  (39774, 2056)	0.41403015444205704
  (39774, 186)	0.22839402100572292
  (39774, 492)	0.24999495322339968
  (39774, 761)	0.18565583295707241
  (39774, 2628)	0.18296286975216322
  (39774, 1205)	0.27643659277174787
  (39774, 533)	0.1978221853797987
  (39774, 515)	0.1845520984171079
  (39774, 922)	0.1417317671137875
  (39774, 2367)	0.15297410357475494
  (39774, 495)	0.1928526597461169
  (39774, 1058)	0.3487039772892354
  (39774, 2107)	0.10172661627420496
  (39774, 1068)	0.14167544533853185
  (39774, 1694)	0.12190609722109319
  (39774, 2474)	0.16141505675756554
  (39774, 227)	0.15888852596531491
  (39774, 965)	0.11960446190400321
  (39774, 1699)	0.24782394495322654
  (39774, 1802)	0.22658400799871456

In [476]:
type(vec_final_input)

scipy.sparse.csr.csr_matrix

In [477]:
seperate = vec_final_input[1:,:]
print(seperate)

  (0, 657)	0.3359693971708159
  (0, 473)	0.15277531314153953
  (0, 849)	0.3188344028585207
  (0, 168)	0.20928852639065135
  (0, 960)	0.40703466503189256
  (0, 2149)	0.23537224445214305
  (0, 1694)	0.11255925712885564
  (0, 1954)	0.25077171716165847
  (0, 2474)	0.1490389676333592
  (0, 1041)	0.35841243848976473
  (0, 1689)	0.14040115034858217
  (0, 227)	0.1467061521666058
  (0, 1363)	0.279146258092438
  (0, 2057)	0.3587839514059733
  (0, 965)	0.11043409384843886
  (0, 1802)	0.10460562760597124
  (1, 2567)	0.2107462736773636
  (1, 1541)	0.21262233159092397
  (1, 1501)	0.40423892677867457
  (1, 604)	0.2210047586071116
  (1, 2663)	0.27874301931373746
  (1, 1058)	0.18621868940068648
  (1, 789)	0.18474923043305033
  (1, 2458)	0.27363682476942225
  (1, 2107)	0.10865030738686547
  :	:
  (39772, 2107)	0.05289800539300331
  (39772, 894)	0.08979978795153344
  (39772, 965)	0.06219451410603471
  (39772, 1682)	0.05707044282804385
  (39773, 442)	0.26541362964150267
  (39773, 2056)	0.41403015444205704
  (39773, 186)	0.22839402100572292
  (39773, 492)	0.24999495322339968
  (39773, 761)	0.18565583295707241
  (39773, 2628)	0.18296286975216322
  (39773, 1205)	0.27643659277174787
  (39773, 533)	0.1978221853797987
  (39773, 515)	0.1845520984171079
  (39773, 922)	0.1417317671137875
  (39773, 2367)	0.15297410357475494
  (39773, 495)	0.1928526597461169
  (39773, 1058)	0.3487039772892354
  (39773, 2107)	0.10172661627420496
  (39773, 1068)	0.14167544533853185
  (39773, 1694)	0.12190609722109319
  (39773, 2474)	0.16141505675756554
  (39773, 227)	0.15888852596531491
  (39773, 965)	0.11960446190400321
  (39773, 1699)	0.24782394495322654
  (39773, 1802)	0.22658400799871456

In [478]:
test_input_final = vec_final_input[0]

In [479]:
print(test_input_final)

  (0, 965)	0.0894282329868838
  (0, 1682)	0.08206043460987061
  (0, 1690)	0.5475228689975247
  (0, 1699)	0.18529791561450118
  (0, 762)	0.5475228689975247
  (0, 1802)	0.08470840943490243
  (0, 2383)	0.21074621664592547
  (0, 1850)	0.5475228689975247

# Preiction using built model

In [480]:
classes.fit(seperate, cuisine) 
prediction_input = classes.predict(test_input_final)
#seperate.shape

In [481]:
int_val = prediction_input[0]
print(int_val)

9

In [482]:
s_val = np.array2string(int_val)
s_val

'9'

# Display Predicted Cuisine

In [483]:
#to find the cuisine
cuisine_selection = {'0':'brazilian', '1':'british', '2':'cajun_creole', '3':'chinese', '4':'filipino', '5':'french', '6':'greek', '7':'indian', '8':'irish', '9':'italian', '10':'jamaican', '11':'japanese', '12':'korean', '13':'mexican', '14':'moroccan', '15':'russian', '16':'southern_us', '17':'spanish', '18':'thai', '19':'vietnamese'}
for key in cuisine_selection:
    if key == s_val:
        print(cuisine_selection[key])

italian

# Similarity to find top "n" similar cuisine's ID and Distance

In [484]:
from sklearn.metrics.pairwise import cosine_similarity
a = cosine_similarity(test_input_final, seperate).flatten()

In [485]:
a

array([0.0187369 , 0.03011907, 0.02635458, ..., 0.        , 0.01024517,
       0.07581085])

In [486]:
type(a)

numpy.ndarray

In [487]:
dataframe_distance = pd.DataFrame(a, columns=['distance']) 
print(dataframe_distance)
type(dataframe_distance)

       distance
0      0.018737
1      0.030119
2      0.026355
3      0.019778
4      0.024922
...         ...
39769  0.000000
39770  0.005884
39771  0.000000
39772  0.010245
39773  0.075811

[39774 rows x 1 columns]

pandas.core.frame.DataFrame

In [488]:
#dataframe_distance.to_Dataframe()
result = pd.concat([dataframe_distance, todf], axis=1, sort=False)

In [489]:
type(result)

pandas.core.frame.DataFrame

In [490]:
#india = result.sort_index(axis=1)

In [491]:
result1 = result.sort_values(by='distance', ascending = False)

In [492]:
print(result1)

       distance     id  cuisine  \
18191  0.201976  15481        6
8810   0.163512  10869       16
23030  0.152061  20451        2
27576  0.151679  15032       10
38227  0.150612  26914       17
...         ...    ...      ...
3569   0.000000  40006        5
33137  0.000000  40627        5
8529   0.000000  44254       13
7076   0.000000  33194       15
24537  0.000000  22047       15

                                             ingredients  \
18191  [pepper, salt, olive oil, sweet onion, dried o...
8810   [olive oil, vegetable oil cooking spray, salt,...
23030  [kosher salt, sweet paprika, granulated garlic...
27576  [tomatoes, curry powder, oil, pepper, sweet pe...
38227  [sweet onion, baking potatoes, large eggs, kos...
...                                                  ...
3569   [butter, milk, semisweet chocolate, eggs, brew...
33137  [superfine sugar, salt, powdered sugar, egg wh...
8529   [taco seasoning mix, shredded cheddar cheese, ...
7076   [vodka, all-purpose flour, butter, hazelnuts, ...
24537  [rye bread, water, active dry yeast, sugar, ra...

                                            ingredients1  \
18191  pepper salt olive oil sweet onion dried oregan...
8810   olive oil vegetable oil cooking spray salt sea...
23030  kosher salt sweet paprika granulated garlic on...
27576  tomatoes curry powder oil pepper sweet pepper ...
38227  sweet onion baking potatoes large eggs kosher ...
...                                                  ...
3569   butter milk semisweet chocolate eggs brewed es...
33137  superfine sugar salt powdered sugar egg whites...
8529   taco seasoning mix shredded cheddar cheese gro...
7076   vodka all-purpose flour butter hazelnuts confe...
24537     rye bread water active dry yeast sugar raisins

                                            ingredients2
18191  pepper salt oliv oil sweet onion dri oregano t...
8810   oliv oil veget oil cook spray salt season swee...
23030  kosher salt sweet paprika granul garlic onion ...
27576  tomato curri powder oil pepper sweet pepper on...
38227  sweet onion bake potato larg egg kosher salt c...
...                                                  ...
3569      butter milk semisweet chocol egg brew espresso
33137  superfin sugar salt powder sugar egg white pur...
8529   taco season mix shred cheddar chees ground bee...
7076   vodka all-purpos flour butter hazelnut confect...
24537       rye bread water activ dri yeast sugar raisin

[39774 rows x 6 columns]

In [493]:
#final = result1[:,2:]

In [494]:
final_result = result1.drop(['ingredients2','cuisine','ingredients','ingredients1'], axis = 1)

In [495]:
print(final_result)

       distance     id
18191  0.201976  15481
8810   0.163512  10869
23030  0.152061  20451
27576  0.151679  15032
38227  0.150612  26914
...         ...    ...
3569   0.000000  40006
33137  0.000000  40627
8529   0.000000  44254
7076   0.000000  33194
24537  0.000000  22047

[39774 rows x 2 columns]

In [496]:
type(final_result)

pandas.core.frame.DataFrame

In [497]:
final_display = final_result.head(5)

# Final Result

In [498]:
print(final_display)

       distance     id
18191  0.201976  15481
8810   0.163512  10869
23030  0.152061  20451
27576  0.151679  15032
38227  0.150612  26914